*{
	margin: 0;
	padding: 0;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}


/*head*/
.head{
	width: 1280px;
	height: 55px;	
	background-color: #2189bf;
}
.head .logo{
	background: url(../image/logo.png) no-repeat center;
	display: inline-block;
	height: 36px;
	width: 36px;
	float: left;
	margin: 10px 50px;
}
.head .search{
	display: inline-block;
	float: right;
	margin-top:15px; 
	margin-right: 100px;
}
.head input{	
	z-index: 2;
	width: 315px;
	height: 26px;
	border: 0;
	outline: none;
	border-radius: 15px; 
}
input .mytext{
	background: url(../image/search.png)  center left  no-repeat;
}
.head .login{
	display: inline-block;
	background: url(../image/login.png) no-repeat center;
	padding-left:50px; 
}
.head a{
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	line-height: 30px;
}
/**/
.my_statement{
	width:1280px;
	margin:0 auto;
	background:#fff;
	height: 1300px;
}
/*main-left*/
.main-left{
	float: left;
	background-color: #2a2e3d;
	height: 100%;
	width: 260px;
	color: #bababe;
	font-size: 12px;
	font-weight: 600;
	margin-left: -140px;
}
.myspace{
	text-align: center;
}
.myspace .mylogo{
	display: inline-block;
	padding: 20px;
	height: 60px;
}
.myspace img{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #bababe;
	padding: 3px;
	float: left;
	margin: 0 auto;
}
.myspace .myname{
	color: #fff;
	font-size: 14px;
	float: left;
	margin-top:20px; 
	margin-left:20px; 	
}
.myspace .myinfo{
	padding-bottom:20px; 
}
.myspace .personinfo{
	display: inline-block;
	padding-right: 24px;
	padding-left: 20px;
	border-right: 2px solid #bababe;
}
.myspace  .last{
	border:none;
}

/*info_list*/
.info_list{
	width: 260px;
	background-color: #2a2e3d;
	
}
.info_list li{
	list-style: none;
}
.info_list a{
	text-decoration: none;
	color: #bababe;
	font-size: 12px;
}
.info_list li a {
	display: inline-block;
	height:30px;
	line-height:30px;
	font-weight: 600;
}
.info_list ul{
	padding-left:25px;
}
.info_list ul ul{
	padding-left:33px;
}
.cur{
	padding-left: 45px;
	padding-top:10px;
	background: #383d4e;
	height: 190px; 
}
.cur>a{
	background: url(../image/ico-bchart.png) no-repeat left;
	color: #fff;
	padding-left:25px; 
}
.cur .file1{
	background: url(../image/ico-file.png) no-repeat left;
	padding-left:30px; 
}
.cur .file2>a{
	background: url(../image/ico-bfile.png) no-repeat left;
	padding-left:32px; 
	color: #fff
}
.cur .document1{
	background: url(../image/ico-bdoc.png) no-repeat left;
	padding-left:15px; 
	color: #fff
}
.cur .document2{
	background: url(../image/ico-doc.png) no-repeat left;
	padding-left:15px; 
}
.cur .file3{
	background: url(../image/ico-file.png) no-repeat left;
	padding-left:30px; 
}
.collect,.share,.pic,.record,.account{
	padding-left: 45px;
	padding-top:10px;	
}
.collect a,.pic a,.record a{
	background: url(../image/ico-star.png) no-repeat left;
	padding-left:25px; 
}
.share a{
	background: url(../image/ico-share.png) no-repeat left;
	padding-left:25px; 
}
.account a{
	background: url(../image/ico-count.png) no-repeat left;
	padding-left:25px; 
}

/**/
.statement{
	float:left;
	width:1024px;
	background:#eeeeed;
}
.bread_crumbs{
	height: 30px;
	background: #fff;
	font-size: 12px;
	padding: 0 20px;
	color: #999;
}
.bread_crumbs a{
	text-decoration: none;
	color: #999;
	line-height: 30px;
}
.bread_crumbs .current{
	color: #2189bf;	
}

/**/
.statement_content{
	padding-top: 20px;
	height: 1300px;
}
.in_statement_content{
	width:892px;
	margin:0 auto;
}
.query_info{
	height:70px; 
	border:1px solid #dcdedf;
	background: #fff;
	font-size: 12px;
	color: #999;
	padding-top:15px; 
	padding-left:29px;
	margin-bottom: 9px; 
}
.query_info form>div{
	height:70px;
}
.query_info div{
	float:left;
}
.select_box{
	border:1px solid #cacbcb;
	height:24px;
	line-height: 22px;
	padding-left:5px;
	cursor:pointer;
	margin-bottom: 5px;
	position:relative;
	color:#323333;
	outline: none;
	font-family: SimHei;
	-webkit-appearance:none;
	-moz-appearance:none;
	background: url(../image/select-black.png) no-repeat 90% 9px;
}
.blue{
	background: url(../image/select-blue.png) no-repeat 90% 9px;
}
.query_info span{
	color:#aaa;
	line-height: 26px;
	padding:0 9px 0 0;
	margin-bottom: 5px;
}
.query_info input[type='submit']{
	float:left;
	cursor: pointer;
	width:50px;
	height:26px;
	border-radius: 2px;
	background: #388ac1;
	color:#fff;
	line-height: 26px;
	margin-top: 16px;
	border: 0;
}
.w121{
	width: 121px;
}
.w71
{
	width: 71px;
}
.q1{
	
	width: 125px;
	margin-right: 29px;
}
.q2{
	width: 170px;
	margin-right: 32px;
}
.q3{
	width: 294px;
	margin-right: 32px;
}
.q2{
	background:url(../image/search-change.png) no-repeat 100% 30%;
	padding-right:17px; 

}

/**/
.historysearch{
	height: 64px;
	width: 892px;
}
.historysearch .priceleftbutton{
	float: left;
	width: 30px;
	height: 64px;
	background: url(../image/btn-left.png) no-repeat center;
	background-color: #fff;
	border-bottom: 0;
	border-right:0; 
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	margin-right: 4px;
}
.price{
	float: left;
}
.pricelist{
	float: left;
	overflow: hidden;
}
.pricerightbutton{
	float: left;
	width: 30px;
	height: 64px;
	background: url(../image/btn-right.png) no-repeat center;
	background-color: #fff;
	border-bottom: 0;
	border-right:0; 
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	margin-right:4px; 
}
.historysearch ul{
	text-align: center;
}
.historysearch li{
	list-style: none;
	float: left;
	height: 64px;
	width:110px ;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	background: #fff;
	margin-right:4px; 
}
.pricelist li time{
	font-size: 12px;
	padding-top:10px; 
	display: block;
	line-height: 12px;
	color:#323333;
}
.pricelist li strong{
	display: block;
	line-height: 40px;
	color:#ec6602;
	font-size: 21px;
	height:40px;
}
.pricelist li b{
	font-size: 18px;
	color:#aeaeae;
}

.history{
	float:left;
}
.history a{
	width:74px;
	height:65px;
	background:#fff url(../image/search-ico.png) no-repeat 18px 17px;
	line-height: 65px;
	padding-left:58px;
	display: block;
	color:#535353;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	text-decoration: none;
}
.pricelist .curr{
	border-top: 3px solid #388ac1;
}

/**/
.tongji{
	margin-top:20px; 
	margin-bottom:13px; 
}
.tongji h3{
	font-size:14px ;
	line-height:24px;
	color: #333;
	font-weight: 200;
}
.tongji li{
	float: left;
	list-style: none;
	height:57px;
	background:#fff;
	border:1px solid #d8d9db;
	width:188px;
	margin-right: 29px;
	border-left: 4px solid;
	position:relative;
	padding: 12px 0 0 8px;
	line-height: 24px;
	color:#333;
	font-size: 14px;
	border-radius: 5px;
}
.tongji .l4{
	margin-right: 0; 
}
.tongji .changecol{
	color:#aaa;
}
.tongji li::after{
	content:'';
	position:absolute;
	width:60px;
	height:47px;
	top:12px;
	right:15px;
}
.tongji li:nth-child(1){
	border-left-color:#43b29d;
}
.tongji li:nth-child(2){
	border-left-color:#388ac1;
}
.tongji li:nth-child(3){
	border-left-color:#d04b36;
}
.tongji li:nth-child(4)
{margin:0;border-left-color:#e2cd46;
}
.tongji li:nth-child(1)::after{
	background: #43b29d;
}
.tongji li:nth-child(2)::after{
	background: #388ac1;
}
.tongji li:nth-child(3)::after{
	background: #d04b36;
}
.tongji li:nth-child(4)::after{
	background: #e2cd46;
}


/*project*/
.project{
	margin-bottom:8px;
}
.project>div,.cal_car>div{
	border: 1px solid #bbb;
	height:356px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	float: left;
}
.project_tab{
	width:530px;
	margin-right: 8px;
}
.project_tab h5,.car h5,.cal h5{
	width:530px;
	font-size: 12px;
	color: #bbb;
	line-height: 40px;
	padding-left:20px;
	background: #f4f5f7; 
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}
.project_tab ul{
	padding-top: 12px;
	position:relative;
	height:27px;
	margin-left: 20px;

}
.project_tab li{
	list-style: none;
	float: left;
	margin-right:3px; 
}
.project_tab label{
	cursor: pointer;
	width:86px;
	height:27px;
	display: block;
	text-align: center;
	line-height: 27px;
	background: #ededf0;
	border:1px solid #ededf0;
	border-radius: 5px 5px 0 0;
	color:#535353;
}
.project_tab ul input,.project_tab ul div{
	display: none;
}

.project_tab table{
	border-collapse: collapse;
	width:100%;
	text-align: center;
	border-color:#dddddd;
	line-height: 28px;
	font-size: 14px;
}
.project_tab [id^='tab']:checked ~ [id^='tab_menu']{
	display: block;
	position:absolute;
	width:403px;
	border: 1px solid #cacbcb;
	border-radius:0 5px 5px;
	padding:28px 49px 35px 38px;
	left:0;
	top:40px;
}
.project_tab [id^='tab']:checked ~ label{
	position: relative;
	z-index: 1;
	border:1px solid #cacbcb;
	border-bottom: none;
	background: #fff;
	height:28px;
}

/**/
.detail {
	width: 350px;
}
.detail_list{
	overflow: hidden;
}
.detail h5{
	font-size: 12px;
	color: #bbb;
	line-height: 40px;
	padding-left:20px;
	background: #f4f5f7; 
	box-sizing: border-box;
}
.detail ul{
	width: 280px;
	margin: 0 auto;
	margin-top:15px;
}
.detail li{
	border-bottom:1px solid #ddd; 
	list-style: none;
	font-size: 14px;
	padding-left: 14px;
	padding-bottom:5px; 
	line-height: 20px;

}
.detail li div{
	display: inline-block;
	padding-right:50px; 

}
.detail li span{
	color: #aaa;
}
.detail li:nth-child(2){
	padding-bottom:0; 
}
.detail li:nth-child(2) div:nth-child(1){
	padding-bottom:4px; 
	border-right:1px solid #ddd;
}
.detail li:nth-child(3){
	height: 145px;
}
.detail li:nth-child(4){
	border: 0;
	padding-top: 5px;

}
.detail li:nth-child(4) form{

	overflow: hidden;
}
.detail form input[type="submit"]{
	float: right;
	width: 50px;
	height:25px ;
	background:#398ac1;
	color: #fff;
	border: 0;
	border-radius: 5px;
}
.detail li:nth-child(4) label{
	float: left;
}


/**/
.cal_car{	
	margin-bottom:-20px; 
}
.cal{
	width: 350px;
	margin-right:8px; 
}
.cal>div{
	width: 310px;
	margin: 0 auto;
}
.title{
	box-sizing: border-box;
	padding-top: 10px;
	border-bottom: 1px solid #7fcbf0; 
	height:42px;
}
.title select{
	width: 70px;
}

.title  input{
	background: #fff;
	width: 60px;
	border: 1px solid #aaa;
	height: 18px;
}
.title select:nth-child(3){
	width: 80px;
}
.week{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}
.week li{
	float: left;
	list-style: none;
	width: 14.28%;
	text-align: center;
}
.day{
	padding-top: 7px;
}
.day p{
	font-size: 12px;
	float:left;
	width:40px;
	height:40px;
	border:1px solid #fff;
	box-sizing:border-box;
	margin-bottom: 2px;
	text-align: center;
	line-height: 20px;
	margin-right:4px; 
	color:#323333;
}
.day p span{
	display: block;
}
.day p b{
	display: block;font-weight: normal;
}
.day p b.holiday,.day p:nth-child(7n) span,.day p:nth-child(7n+6) span{
	color:#cd3539;
}
.day p.make{
	border:1px solid #f5c21d;cursor: pointer;
}

/**/
.car{
	width: 530px;
}
.car_list{
	width: 450px;
	margin: 0 auto;
	margin-top: 18px;
	font-size: 14px;
	color: #323333;
}
.car table{
	width: 450px;
	border-collapse: collapse;
	text-align: center;
	height: 275px;
}
.car table tr th:nth-child(1){
	width: 67px;
}
.car table tr th:nth-child(2){
	width: 90px;
}
.car table tr th:nth-child(3){
	text-align: left;
	padding-left: 25px;
}
.car table  td:nth-child(3){
	
	text-align: left;
	padding-left: 35px;
}
.progress_bar{
	display: inline-block;
	width:168px;
	height:4px;
	background:#dcdcdc;
	position: relative;
	top:-1px;
	margin-left: 10px;
}
.progress_bar p{
	height:4px;
}

.car table tr:nth-child(-n+4) p{
	background:#ec6d51;
}
.car table tr:nth-child(n+5) p{
	background:#7ecaf0;
}
.w80_perc{width:80%; }
.w70_perc{width:70%;background:#ec6d51;}
.w60_perc{width:60%;background:#ec6d51;}
.w55_perc{width:55%;}
.w50_perc{width:50%;}
.w40_perc{width:45%;}
.w35_perc{width:35%;}
.w30_perc{width:30%;}
.w25_perc{width:25%;}
.w20_perc{width:20%;}
