*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
body{
	min-width: 1200px;
}
/*head部分*/
.head{
	height: 62px;
	line-height: 62px;
}
.head span{
	width: 70px;
	font-size: 20px;
	color: #000;
	background: url(../image/nw_logo.png) no-repeat center;
	float: left;
	background-size: 32px;
	padding-left:120px;

}
.head ul{
	list-style-type: none;
	width: 700px;
	padding-right: 0px;
	float: right;
}
.head li{
	display: inline-block;
	padding: 0 20px ;	
	font-size: 14px;
}
.head .l1{
	color: #e65051;
	border-bottom:4px solid #e65051; 
	height: 58px;
}
.head a{	
	text-decoration: none;
	color: #777;
	display:block; 
	height:57px;
}
.head a:hover{
	color: #e65051;
}
.head .login{
	width: 30px;
	color: #e65051;
	background: url(../image/login_logo.png) no-repeat left;
	padding-left:20px; 
}
/*banner*/
.banner{
	width:100%;
	height:690px;
	background: url(../image/main_bg.png) no-repeat;
	position: relative;
	background-size: 100%;
}
.banner h1{
	color: #fff;
	margin-top: 230px;
	margin-left: 125px;
	font-size: 60px;
	position: absolute;
	font-weight: 100;
}
.banner h2{
	color: #fff;
	margin-top: 320px;
	margin-left: 125px;
	font-size: 20px;
	position: absolute;
	font-weight: 100;
}
.banner button{
	width: 330px;
	height: 63px;
	margin-left:125px; 
	margin-top:430px; 
	background-color: #e8504f;
	color: #fff;
	font-size: 30px;
	text-align: center;
	border:none;
	position: absolute;
	
}
/*list*/
.introduce{
	width: 100%;
	height: 252px;
}
.introduce ul li{
	width: 24%;
	/*width: 330px;*/
	display: inline-block;
	padding-top: 50px;
	text-align: center;
}
.introduce .list1{
	background: url(../image/sec_logo1.png) no-repeat center;
}
.introduce .list2{
	background: url(../image/sec_logo2.png) no-repeat center;
}
.introduce .list3{
	background: url(../image/sec_logo3.png) no-repeat center;
}
.introduce .list4{
	background: url(../image/sec_logo4.png) no-repeat center;
}
.introduce div{
	margin-top:90px; 
	text-align: center;
	font-size: 14px;
	border-right: 2px solid #999;
	color: #777;
}
.introduce p{
	line-height: 25px;
}
.introduce .line4{
	border: none;
}
/*dontknow*/
.dontknow{
	background: url(../image/thr_logo.png) no-repeat center;
	width: 100%;
	height: 360px;
	color: #a2a2a2;
	text-align: center;
	background-color: #ededed;
	
}
.dontknow h1{
	padding-top: 250px;
	
}

/*input*/
.find{
	width: 100%;
	height: 340px;
	background: url(../image/map.png) no-repeat center;
	position: relative;
	background-size: 100%;
	text-align: center;
	color: #fff;
}
.find h3{
	padding-top: 50px;
	font-size: 20px;
	font-weight: 200;
}
.find p{
	padding-top: 30px;
	font-size: 14px;
}
.find .input{
	margin-top:50px; 
}
.input .iputimage{
	position: relative;
}
.find input{
	margin-right: 20px;
	border: none;
	background-color: #fff;
	width: 235px;
	height: 35px;
	/*
	z-index: 3;*/
}
.input .iputimage div{
	position: absolute;
	right: 3px;
	
}
.find button{
	width: 235px;
	height: 35px;
	background-color: #bf4e48;
	color: #fff;
	border: none;
}

/*active*/
.active{
	padding-top: 100px;
	width: 100%;
	color: #373737;
	font-weight: 200px;
	height: 500px;
	padding-left:150px;

}
.active .city{
	text-align: center;
	display: inline-block;
	padding-right: 30px;
	line-height: 30px;
}
.active img{
	padding:10px 8px;
	border: 1px solid #ddd;
}
.active h5{
	color: #999;
	font-size: 12px;
	font-weight: 100px;
}

/*newworld*/
.newworld{
	background: url(../image/time1.jpg) no-repeat left;
	height: 565px;
	background-size: 68.5%;
	text-align: center;
}
.newworldright{
	float: right;
	width: 280px;
	text-align: center;
	margin-top:150px; 
	margin-right:80px; 
}
.newworldright h2{
	font-weight: 200;
	padding-bottom: 25px;
	font-size: 20px;
}
.newworldright span{
	color: #c00;
	padding-left: 5px;
}
.newworldright p{
	width: 300px;
	margin: 0 auto;
	color: #666;
	text-align: left;
	line-height: 30px;
	font-size: 12px;
	font-weight: 100;
}
.newworldright a{
	display: block;
	margin: 0 auto;
	border: 1px solid #ea5d6d;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-top: 50px;
	color: #ea5d6d;
	font-size: 14px;
	text-decoration: none;
}
.newworldright ul{ 
	margin-top:40px;
}
.newworldright ul li{ 
	width:8px;
	height:8px;
	border-radius:50px;
	border:1px solid #999;
	display:inline-block;
	margin:0px 10px;
}
.newworldright #circl{ 
	width:8px;
	height:8px;
	background-color:#999;
}
.newworldleft{
	color: #fff;
	font-weight: 100;
}
.newworldleft h1{
	font-size: 160px;
	font-weight: 100;
	margin-left: -60px;

	line-height: 150px;
}
.newworldleft h2{
	padding-top:125px; 
	font-size: 50px;
	font-weight: 100;
	margin-left: -60px;
	line-height: 55px;
}
.newworldleft h3{
	font-size: 20px;
	font-weight: 100;
	line-height: 40px;
	margin-left: -60px;
}

/*more*/
.more{
	font-size: 0;
	background: url(../image/time2.jpg) no-repeat right;
}
.more .era{
	font-size: 0px;
	width:34.25%;
	display: inline-block;
	height: 522px;
	text-align: center;
}
.more .red{
	background-color: #e8504f;
}
.more .white{
	background-color: #fff;
}

.more .eraCon{
	padding-top:150px; 
}
.more .red h1{
	font-size: 20px;
	font-weight: 200;
	line-height: 35px;
	color: #fff;
}
.more .white h1{
	font-size: 20px;
	font-weight: 200;
	line-height: 35px;
	color: #333;
}
.more .underline{
	width: 30px;
	height: 2px;
	margin: 15px auto;
	background: #ddd;
}
.more  a{
	display: block;
	margin: 0 auto;
	width: 168px;
	height: 43px;
	line-height: 43px;
	margin-top: 20px;	
	font-size: 20px;
	text-decoration: none;
}
.red a{
	color: #fff;
	border: 2px solid #fff;
}
.white a{
	color: #e8504f;
	border:2px solid #e8504f;
}
#triangle-right {
	display: inline-block;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid white;
    border-bottom: 13px solid transparent;
}

/*volunteer*/
.volunteer{
	height: 300px;
	text-align: center;
	
}
.volunteer h2{
	font-weight: 300;
	padding-top: 100px;
	font-size: 20px;
	color: #333;
}
.volunteer h5{
	font-weight: 200;
	color: #999;
}
.volunteer .underline{
	width: 30px;
	height: 2px;
	margin: 10px auto;
	background: #e8504f;
}


/*form*/
.form{
	width: 1050px;
	height: 450px;
	margin: 0 auto;
}
.form ul{	
	float: left;
}
.form li{
	width: 290px;
	height: 130px; 
	list-style: none;
}
.form h5{
	color: #333;
	font-size: 14px;
}
.form p{
	color: #aaa;
	font-size: 12px;
	line-height: 25px;
	margin-top: 20px;
}
.form a{
	background: url(../image/more.png) no-repeat left;
	float: right;
	font-size: 5px;
	color: #999;
	text-decoration: none;
	padding-left: 15px;
}

.form .inputarea{
	float: right;
	width: 635px;
}
.form input{
	color: #333;
	width: 295px;
	height: 40px;
	background-color: #ededed;
	border: none;
	margin: 5px 5px;
	padding-left: 10px;
	font-size: 8px;
}
.form textarea{
	color: #333;
	width: 97%;
	height: 125px;
	background-color: #ededed;
	border: none;
	margin-bottom: 20px;
	margin: 5px 5px;
	padding-left: 10px;
	padding-top: 10px;
	
}
.form .btn{
	width: 625px;
	font-size: 15px;
	color: #333;
}


/*contact*/
.contact{
	background: #32353e;
	height: 360px;
	color: #fff;
	text-align: center;
	
}
.contact h3{
	padding-top:85px; 
	height: 30px;
	font-weight: 100;
}
.contact p{
	margin: 0 auto;
	width: 470px;
	font-size: 10px;
	line-height: 25px;
}
.contact form{
	padding-top: 20px;
}
.contact input{
	width: 420px;
	height: 40px;
	border: none;
	padding: 0 5px;
}
.contact .btn{
	width: 80px;
	background:#6f7178;
	color: #fff;
	font-size: 14px;
}
.contact ul{
	
}
.contact li{
	display: inline-block;
	padding: 15px;
	padding-top: 30px;
}

/*footer*/
footer{
	height:55px; 
	background:#2f3239 ;
	line-height: 60px;
	font-weight: 100;
}
footer p{
	display: inline-block;
	color: #fff;
	font-size: 5px;	
	padding-left:80px; 
}
footer a{
	text-decoration: none;
	color: #fff;
	font-size: 4px;
	float: right;
	margin-right:80px; 
}