/*也就是通过百分比来设置*/
*{
	box-sizing: border-box;
	/*为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行设置 */
}
.container{
	width: 100%;
}
.row{
	/*消除左右两边多余边距*/
	margin-left: -10px;
	margin-right: -10px;
}
.container::after, .row::after {
  content: "";
  display: table;
  clear: both;
}
[class*="f-col-"] {
  position: relative;
  float: left;
  min-height: 1px;
  padding: 10px;
}

.f-col-sm-1  { width: 8.33333333%; }
.f-col-sm-2  { width: 16.66666667%; }
.f-col-sm-3  { width: 25%; }
.f-col-sm-4  { width: 33.333333%; }
.f-col-sm-5  { width: 41.666667%; }
.f-col-sm-6  { width: 50%; }
.f-col-sm-7  { width: 58.333333%; }
.f-col-sm-8  { width: 66.666667%; }
.f-col-sm-9  { width: 75%; }
.f-col-sm-10 { width: 83.333333%; }
.f-col-sm-11 { width: 91.666667%; }
.f-col-sm-12 { width: 100%; }

/*12 6 4 3 2 1*/
@media all and (min-width:768px) {
  .f-col-md-1  { width: 8.33333333%; }
  .f-col-md-2  { width: 16.66666667%; }
  .f-col-md-3  { width: 25%; }
  .f-col-md-4  { width: 33.333333%; }
  .f-col-md-5  { width: 41.666667%; }
  .f-col-md-6  { width: 50%; }
  .f-col-md-7  { width: 58.333333%; }
  .f-col-md-8  { width: 66.666667%; }
  .f-col-md-9  { width: 75%; }
  .f-col-md-10 { width: 83.333333%; }
  .f-col-md-11 { width: 91.666667%; }
  .f-col-md-12 { width: 100%; }
}